mixin img(src, alt)
  img(src=src alt=alt loading='lazy')&attributes(attributes)

mixin picture(src, alt)
  picture
    source(srcset=src + '-mobile.webp' type='image/webp' media='(max-width: 480px)')
    source(srcset=src + '.webp' type='image/webp')
    img(src=src + '.jpg' alt=alt loading='lazy')&attributes(attributes)

mixin svg(name)
  svg(data-svg=name)&attributes(attributes)
    use(xlink:href=`./img/sprites/sprite.svg#${name}`)

mixin logo()
  a.logo(href='./')&attributes(attributes)
    +img('./img/logo/logo.svg', 'Логотип').logo__img

mixin link(title, href)
  a.link(href=href)&attributes(attributes)= title

mixin icon-link(name, label, href)
  a(href=href aria-label=label).icon-link
    +svg(name).icon

mixin nav-link(name, title, href)
  a(href=href).icon-link.icon-link_caption.icon-link_caption_primary&attributes(attributes)
    +svg(name).icon-link__svg.icon-link__svg_primary
    span.icon-link__text.icon-link__text_primary= title

mixin scroll-down(href)
  a(href=href).icon-link.icon-link_caption.icon-link_caption_primary&attributes(attributes)
    span.icon-link__text.icon-link__text_primary Scroll down
    +svg('arrow_down').icon-link__svg.icon-link__svg_primary

mixin read-more(href)
  a(href=href).icon-link.icon-link_caption.icon-link_caption_secondary&attributes(attributes)
    span.icon-link__text.icon-link__text_secondary Read more
    +svg('arrow_more').icon-link__svg.icon-link__svg_secondary

mixin section-subtitle(subtitle)
  h3.section-subtitle= subtitle

mixin card(number, subtitle, title, text, src)
  article(id=`blog-${number}`).card
    div.card__wrap
      div.card__number= number
      div.card__container
        +section-subtitle(subtitle)
        h2.card__title= title
        p.card__text= text
        +read-more
    +picture(src, subtitle).card__image

mixin card-revert(number, subtitle, title, text, src)
  article(id=`blog-${number}`).card.card_revert
    +picture(src, subtitle).card__image
    div.card__wrap&attributes(attributes)
      div.card__number= number
      div.card__container
        +section-subtitle(subtitle)
        h2.card__title= title
        p.card__text= text
        +read-more
